<section class="hero bgimage my-auto d-flex align-items-center"
    style="background-image: url('{{baseUrl}}assets/images/general/banners/banner.png'); ">
    <div class="container top-50 start-50">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-12 col-md-11 col-lg-9 col-xl-8 col-xxl-7 text-primary">
                <div class="overlay-content text-center">
                    <!-- Heading -->
                    <h1 class="mb-3 display-4 fw-bolder text-primary txt-shadow">Brighton & Hove Therapy Space</h1>
                    <p class="mb-5 lead text-primary txt-shadow">Beautiful, quiet, and fully equipped spaces for
                        therapists, counsellors, and healthcare
                        practitioners.</p><!-- list -->
                        <div class="col d-flex ">
                    <ul class="list-unstyled fs-3 mx-auto text-primary txt-shadow mb-6 fw-medium d-flex flex-column flex-nowrap">
                        <li class="mb-1 align-self-start d-flex"><span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" fill="#57cc99" class="bi bi-check-circle-fill text-success mb-1"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                                    </path>
                                </svg></span><span class="txt-shadow">Zero contract, rent by the hour</span></li>
                        <li class="mb-1 align-self-start d-flex"><span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" fill="#57cc99" class="bi bi-check-circle-fill text-success mb-1"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                                    </path>
                                </svg></span><span>Easy online booking system</span></li>
                        <li class="mb-1 align-self-start d-flex"><span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" fill="#57cc99" class="bi bi-check-circle-fill text-success mb-1"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                                    </path>
                                </svg></span><span class="text-start ">Clean, professional therapy
                                space</span></li>
                    </ul>
                    </div>
                    <!-- Buttons -->
                    <div class="mb-0 mb-lg-0">
                        <a href="{{baseUrl}}get-started" class="btn btn-primary me-3 mb-2 mb-lg-0">Get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>