<!-- early access -->
  <section class="py-lg-8">
                          <div class="container">
                            <div class="row">
                              <div class="col offset-md-2 col-md-8 col-12">
                                <div class="bg-light py-6 px-6 px-xl-0 rounded-4 ">
                                  <div class="row align-items-center">
                                    <div class="col-12">
                                      <div class="p-3 mb-0 mt-0 text-center flex-ow justify-content-center lign-items-center">
                                        <h2 class=" text-whit mb-3 me-3">What are you waiting for?</h2>
                                      
                                        <a href="{{baseUrl}}get-started" class="h-100  btn btn-secondary">Get Started</a>
                                      </div>
                                    </div>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
