<!-- early access -->
<div class="my-4">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-10 col-12 ">
                <div class="row px-3 pt-3 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border smooth-shadow-sm">
                    <div class="col-lg-6 p-4 p-md-6 pt-lg-0">
                        <h1 class="display-4 fw-bold lh-1 mb-3">Get early access</h1>
                        <p class="lead mb-5">We are opening October 1st 2025. Sign up to the
                            waitlist to be the first to know when booking opens -
                            stay in the loop!
                        </p>
                        <form class="row">

                            <div class="d-grid mb-3 col-md-5 col-12 ps-md-0">
                                <a href="{{baseUrl}}get-access" class="btn btn-primary" type="submit">Request
                                    Access</a>
                            </div>
                        </form>


                    </div>
                    <div class="col-lg-5 offset-lg-1 p-0 overflow-hidden shadow-lg rounded-end-md">
                        <!-- Img -->
                        <img class="rounded-top-md card-img-size-600" src="../assets/images/rooms/example3.webp" alt="image of room">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>