.ddev/
.idea
.config.codekit3
.env
*.DS_Store
.php-cs-fixer.cache
Source/.idea/*
*.log
*.bak
*.sh*
*.orig
*.sass-cache/*
src
*Thumbs.db
Build/*
*.sass-cache
backups
geek
node_modules/
public_html/assets/*
scripts
storage
vendor/
cpresources/*
bcd.code-workspace
!public_html/assets/images/brand/logo/