{% extends "_layouts/generic-page-layout.twig" %}


{% block content %}
<!-- generic -->
<section class="bg-light-subtle py-1 py-4 py-lg-8">
  <div class="container">
    <div class="row align-items-center">
      <div class="col offset-md-2 col-md-8 col-12">
        <div class="">
          <h1 class="display-4 fw-semibold ">{{entry.title}}</h1>

     
        </div>
        
        
      </div>

    </div>
  </div>
</section>
<section class="my-5">
  <div class="container ">
    <div class="row">
      <div class="col offset-md-2 col-md-8 col-12">
        <div class="mb-">

          {{entry.body}}
        </div>
        
        
      </div>

    </div>
             
    {% include '_partials/early_access' %}

  </div>
</section>
{% endblock %}