{% extends "_layouts/generic-page-layout.twig" %}


{% block content %}

<section class="bg-light-subtle py-1 py-4 py-lg-8">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col offset-lg-2 col-lg-8 col-12">

        <h1 class="d-flex-inline display-4 fw-semibold ">{{entry.title}}</h1>

      </div>
    </div>
  </div>
</section>


<section class="py-lg-8">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 offset-xl-1 col-md-12 col-12">
        <div class="bg-primary py-6 px-6 px-xl-0 rounded-4 ">
          <div class="row align-items-center">
            <div class="offset-xl-1 col-xl-6 col-md-6 col-12">
              <div>
                <h2 class="display-4 text-white mb-5">What you need to know</h2>
                <p class="d-none text-white fs-4">…and achieve their learning goals. With our expert tutors, your goals
                  are
                  closer
                  than ever!</p>
                <h3 class="mb-3 text-white">To rent our rooms you must:</h3>
                <ul class="list-grist-group-fush text-white fs-3 mb-5">
                  <li class="list-group-item bg-transparent">
                    <i class="bi bi-award fs-3 text-white"></i>
                    be a registered therapist(BACP,UKCP,NCPS)
                  </li>
                  <li class="list-group-item bg-transparent">
                    <i class="bi bi-file-earmark-post  text-white"></i>
                    have professional indemnity insurance
                  </li>

                </ul>

                <a href="{{baseUrl}}terms" target="_blank" class="text-white bbtn-light">Read our terms <i
                    class="bi bi-box-arrow-up-right"></i></a>
              </div>
            </div>
            <div class="col-xl-5 col-md-6 col-12">
              <div class="text-center">
                <img src="../assets/images/education/course.png" alt="learning" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

        <!-- cta 2-->
        <div class="py-8">

          <div class="row">

            <div class="col-md-6 col-12">
              <!-- card -->
              <div class="card mb-4 mb-lg-0">
                <!-- card body -->
                <div class="card-body p-5">
                  <!-- icon -->
                  <div class="mb-3">
                    <i class="fs-1 bi bi-buildings"></i>
                  </div>
                  <h2 class="mb-2">Book a visit</h2>
                  <p class="mb-">Come see the rooms for yourself and have a cup of tea or coffee on us.</p>
                  <ul class="mb-5">
                    <li class="mb-2">Check out the rooms and facilities</li>
                    <li class="mb-2">Meet the team and ask any questions</li>
                    <li class="mb-2">See how we can support your practice</li>
                  </ul>
                  <!-- hstack-->
                  <div class="hstack gap-3 text-center justify-content-center">
                    <a href="tel:+447875189513" class="btn btn-secondary">CALL</a>
                    <div class="vr"></div>
                    <a class="btn btn-primary" href="mailto:admin@brightonandhovetherapyspace.co.uk">EMAIL</a>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-md-6 col-12">
                <!-- card -->
                <div class="card mb-4 mb-lg-0">
                  <!-- card body -->
                  <div class="card-body p-5">
                    <!-- icon -->
                    <div class="mb-3">
                      <i class="fs-1 bi bi-person-badge"></i>
                    </div>
                    <h2 class="mb-2">Join us</h2>
                    <p class="mb-">Come see the rooms for yourself and have a cup of tea or coffee on us.</p>
                    <ul class="list-unstyled  mx-auto  txt-shadow mb-4 fw-medium d-flex flex-column flex-nowrap">
                      <li class="mb-1 align-self-start d-flex"><span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" fill="#57cc99" class="bi bi-check-circle-fill text-success mb-1" viewBox="0 0 16 16">
                            <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                            </path>
                          </svg></span><span class="txt-shadow">Zero contract, rent by the hour</span></li>
                      <li class="mb-1 align-self-start d-flex"><span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" fill="#57cc99" class="bi bi-check-circle-fill text-success mb-1" viewBox="0 0 16 16">
                            <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                            </path>
                          </svg></span><span>Easy online booking system</span></li>
                      <li class="mb-1 align-self-start d-flex"><span class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" fill="#57cc99" class="bi bi-check-circle-fill text-success mb-1" viewBox="0 0 16 16">
                            <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                            </path>
                          </svg></span><span class="text-start ">Clean, professional therapy
                          space</span></li>
                    </ul>
                    <p class="mb-0 text-center">
                      <a href="{{baseUrl}}join" class="btn btn-secondary">JOIN US</a>
                    </p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- cta 2-->
        </div>
      </div>
    </div>
</section>

{# {% include '_partials/_booking_enquiry_form.twig' %} #}



{% endblock %}