{% extends "_layouts/generic-page-layout.twig" %}


{% block content %}


<main>
  <section class="bgimage my-auto d-flex align-items-center"
    style="background-image: url('{{baseUrl}}assets/images/general/banners/banner.png'); 
    background-size: cover; background-position: center; background-repeat: no-repeat; 
    height: 54svh; min-height: 400px; max-height: 950px;">
    <div class="container top-50 start-50">
      <div class="row justify-content-md-center align-items-center">
        <div class="col-12 col-md-11 col-lg-9 col-xl-8 col-xxl-7 text-white">
          <div class="overlay-content text-center">
            <!-- Heading -->
          <h1 class="mb-3 display-4 fw-bolder text-white txt-shadow">Thank you</h1>
          <p class="mb-5 lead text-white txt-shadow">
            We have your enquiry and will respond in 24hrs.
            </p><!-- list -->
          <!-- Buttons -->
        </div>
        </div>
      </div>
    </div>
    </div>
  </section>


  <section class="d-none container d-flex flex-column">
    <div class="row align-items-center justify-content-center ">
      <div class="col-lg-6 col-md-8  py-xl-0">
        <!-- Card -->
        <div class="crd sha dow">
          <!-- Card body -->
          <div class="card-body p-6 d-flex flex-column justify-content-center">
            <div class="flex-column justify-content-center">
              <div class="d-flex flex-column align-items-center mb-3">
                <div class="p-2">
                  <h1 class="mb-0 fw-bold">Request sent</h1>
                </div>



              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock content %}